.form {
  padding-top: 40px;
}

.converter {
  padding: 30px 30px 10px 30px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgb(0, 0, 0)),
    url("./converter__background.jpg");
  background-position: center;
  background-size: cover;
  z-index: 0;
}

.converter__name {
  font-family: "Anton", sans-serif;
  letter-spacing: 1px;
  padding: 10px;
  border: 2px #fec300 solid;
  z-index: 1;
}

.converter__btn {
  background-color: #222222;
  color: #fec300;
  border: 2px #fec300 solid;
  padding: 8px 16px;
  margin-bottom: 20px;
}

.converter__btn:active {
  background: #333333;
}

.converter__btn:focus {
  border-color: hsl(59, 100%, 70%);
  outline: none;
}

.section {
  margin: 30px 0;
}

.converter__label {
  width: 300px;
  display: inline-block;
}

@media (max-width: 767px) {
  .converter {
    display: flex;
    flex-direction: column;
  }

  .converter__amount,
  .converter__currency {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .converter__btn {
    margin: 0 auto 20px;
  }

  .converter__label {
    margin-bottom: 15px;
    text-align: center;
  }
}
