.converter__convertBtn {
  background-color: #222222;
  color: #fec300;
  border: 2px #fec300 solid;
  padding: 8px 16px;
}

.converter__convertBtn:active {
  background: #333333;
}

.converter__convertBtn:focus {
  border-color: hsl(59, 100%, 70%);
  outline: none;
}
